.logo{width: 30px;height: 30px;padding-left: 500px;padding-top: 0px;}
.nav{
	width:400px;
	height:40px;
	padding-left:800px;
	padding-top: 30px;}
.nav_content{
	width:800px;}
.banner{
	width: 100%;
	height: auto;
}
.banner img{
	width:100%;
	height:auto;
}
.menu{width: 100%;height: 40px;background:}
.menu ul{width: 1000px;margin: 0px auto;}
.menu ul li{float: left;width: 120px;line-height: 40px;}
.menu a{font-size: 16px;color: #666666;text-decoration: none;width: 100px;}
*{padding-bottom: 0px;margin: 0px;}
ul{list-style: none;}
.a img{
	width: 100%;
	height: auto;;
}
#footer{
    clear:both;
    width:100%; 
    height: 105px;
    margin-top:1px;
    float: left;
}
#footer .footer_link{
    text-align: center;
}
#footer .footer_link a{
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #666666;
}
#footer .foot1{
    text-align: center; 
    margin-top: 10px;
}
#footer .foot2{
    text-align: center;
    margin-top: 10px;
}