.logo{width: 30px;height: 30px;padding-left: 500px;padding-top: 0px;}
.nav{
	width:400px;
	height:40px;
	padding-left:800px;
	padding-top: 30px;}
.nav_content{
	width:800px;}
.menu{width: 100%;height: 40px;background:}
.menu ul{width: 1000px;margin: 0px auto;}
.menu ul li{float: left;width: 120px;line-height: 40px;}
.menu a{font-size: 16px;color: #666666;text-decoration: none;width: 100px;}
*{padding-bottom: 0px;margin: 0px;}
ul{list-style: none;}
.a{
	width: 170px;
	height: 30px;
	border: none;
	float: left;
	background-color: #E0E0E0;
}
.a_img{
	width:200px; ;
	height:35 px;
	float: left;
	padding-left:10px;

}
.a_img h5{
	font-size: 16px;
	color: #666666;
	float:left;
	padding-left:20px;

}
.b{
	font-size: 12px;
	color: #666666;
}
#footer{
    clear:both;
    width:100%; 
    height: 105px;
    margin-top:1px;
    float: left;
}
#footer .footer_link{
    text-align: center;
}
#footer .footer_link a{
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #666666;
}
#footer .foot1{
    text-align: center; 
    margin-top: 10px;
}
#footer .foot2{
    text-align: center;
    margin-top: 10px;
}
.c{
	width: 200px;
	height: 20px;
	font-size: 20px;
	color: #666666;
	padding:10px;
}
.banner{
	width:1000px
	height:300px;
	margin-left: 220px;
	margin-top: 0px;
	float: left;

}
.banner img{
	width: 1000px;
	height: auto;
	float: left
	padding-top：0px;
}
.m{
	text-align:center;

}
.fm{
	width: 600px;
	height: auto;
	margin: 0px auto;
}
.ta{
	font:1em/1.5 Arial;
	width:100%;
	height: auto;
	border-top:1px solid #ccc;
}
.ta caption{
	font: 1.2em/1.5 "微软雅黑";
	text-align: left;
	padding: 20px;
}
.ta td{
	width: auto;
	height: 40px;
}
.lefter{
	text-align: right;
}
.toper{
	vertical-align: top;
}
.ta select{
	width:175px;
	height: 30px;
}
.ta textarea{
	width: 480px;
	height:8em;
}
.btn{
	width: 80px;
	height: 35px;
	color:#fff;
	background:#337ab7;
	border:none;
	border-radius:4px;
	cursor:pointer;
}
.btn:hover{
	background: #2267A2;
}